@import url('https://fonts.googleapis.com/css2?family=Montserrat');   

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin: 30px;
    padding: 40px;
    max-width: 500px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 1);
    background: transparent linear-gradient(303deg,#FF6E0B, #FC384B);
    width: fit-content;
    height: fit-content;
    transition: transform 1s;
}

.dark {
    box-shadow: 10px 10px 30px rgba(120, 120, 120, 0.66);
}

.orange {
    background: transparent linear-gradient(303deg,#ff7f29, #ae1919);
}

.purple {
    background: transparent linear-gradient(303deg,#a53eff, #4200c6);
}

.blue {
    background: transparent linear-gradient(303deg,#2575f7, #001e82ea);
}

.yellow {
    background: transparent linear-gradient(303deg,#e3be04, #FF6E0B);
}

.card-title {
    display: inline-block;
    color: white;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;  
    padding-bottom: 20px;
}

.card-text {
    color: white;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.close {
    display: block;
    float: right;
    cursor: pointer;
    margin-left: 30px;
    transition: transform 0.5s;
}

.close:hover {
    transform: scale(1.3);
}

@media (max-width: 420px) {
    .card-title {
        font-size: 1.5rem;
    }

    .card-text {
        font-size: 1rem;
    }
}